<div class="messages-cont">
  @for(message of messages; track message.id) {
  <div
    class="message-align"
    [ngClass]="{
      'align-my': message.user.id == user.id,
      'align-others': message.user.id != user.id
    }"
  >
    <app-message
      [message]="message"
      [isMine]="message.user.id == user.id"
    ></app-message>
  </div>
  }
</div>
<div class="input-bar">
  <input
    type="text"
    maxlength="500"
    id="Text"
    name="Text"
    [(ngModel)]="text"
    placeholder="Message"
    autocomplete="off"
  />
  <button class="send-button" type="button" (click)="SendMessage()">
    <img class="image" src="./send-message.png" alt="" />
  </button>
</div>
